.hm-input-group {
  position: relative;
}

.hm-input {
  width: 100%;
  max-width: 1115px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 15px 12px 4px 12px;
}

.hm-input-label {
  position: absolute;
  top: 5px;
  left: 12px;
  line-height: 0.5;
  border: none;
  cursor: text;
  font-size: 12px;
  color: #777;
}